* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(#000000, 50%, purple, white);
  color: white;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 3rem;
  padding: 2rem;
}

.content ul {
  display: flex;
}

.content ul li {
  list-style: none;
  margin: auto 2rem;
}

.content ul li a {
  color: white;
  text-decoration: none;
}

.hero {
  margin: 10rem 10rem;
  display: flex;
}

.tulisan {
  margin-right: 10rem;
  align-items: end;
  text-align: right;
}

.tulisan h1 {
  margin-bottom: 2rem;
}

.tulisan p {
  margin-bottom: 2rem;
}

.hero img {
  width: 30%;
  box-shadow: 0 0 5rem white;
}

.dua {
  margin-left: 10rem;
  text-align: left;
  margin-right: 0;
}

svg {
  display: block;
}

.contains {
  background: linear-gradient(black, 60%, purple);
  display: flex;
  flex-direction: column;
  /* border: 2px solid black; */
}

.makanan {
  color: white;
  width: 800px;
  margin: 3rem auto;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  box-sizing: border-box;
  box-shadow: 0.5rem 0.5rem 1rem white;
  border: 0.5rem solid white;
  /* background-color: black; */
  background: linear-gradient(to top, black, 60%, purple);
}

.makanan h2 {
  width: 70px;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid white;
}

.listMakanan {
  margin-top: 2rem;
  margin-bottom: 1.2rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  border-collapse: collapse;
}

.listMakanan tr th {
  text-align: left;
  padding-bottom: 1rem;
}

td {
  border-bottom: 2px solid #ccc;
  padding: 1rem 0;
}

.seemore {
  color: white;
  width: fit-content;
  padding: 0.5rem;
  margin-top: 0.4rem;
  background-color: blueviolet;
  border-radius: 0.5rem;
}

footer {
  text-align: center;
  padding: 2rem;
  background-color: black;
}

footer h3 {
  padding-bottom: 5rem;
}
